/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}

/* Container for the entire app */
.app-container {
    display: flex;
    height: 100vh;
    
}

/* Sidebar Styles */
.sidebar {
    width: 20%;
    border-right: 1px solid #ccc;
    padding: 20px;
    
}
.hamburger {
    font-size: 1.5rem;
    margin: 1rem;
    z-index: 2;
    
}

.icon-button {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
    
}

.sidebar-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    
}

.sidebar input {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.sidebar div {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 5px;
    
}

.sidebar div:hover {
    background-color: #f0f0f0;
    
}
/* Dropdown Styles */
select {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px; /* Rounded corners */
    appearance: none; /* Remove default appearance */
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    
}

/* Option Styles */
option {
    padding: 10px;
    font-size: 16px;
    
}


.scroll-cards {
    overflow-y: auto;
    height: 75vh;
}

/* Main Content Area Styles */
.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow: auto;
    float: 'left';
    height: 100vh;
    
}

.main-content h2, .main-content h3 {
    margin-bottom: 20px;
    
}

.main-content p {
    margin-bottom: 20px;
    
}

.main-content ul {
    list-style-type: none;
    margin-bottom: 20px;
    
}

.main-content li {
    background-color: #f0f0f0;
    padding: 5px;
    margin-bottom: 5px;
    
}

.main-content button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    
}

/* Editing Card Styles */
.editing-card {
    display: flex;
    flex-direction: column;
    
}

.editing-card input, .editing-card textarea {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    
}
